<section id="about-us">
    <div class="container">
      <div class="row align-items-center">
        <div class="col">
          <img src="../../../assets/img/about-us.png" class="img-fluid" alt="About Us">
        </div>
        <div class="col text-col">
          <h1>About Us</h1>
          <p>Welcome to our website, which is dedicated to the world of information technology! We are a team of IT enthusiasts who strive to share their knowledge and experience with professionals and novice users.</p>
          <p>We believe that knowledge in the field of IT is a key factor of success in the world of modern technologies. Therefore, our mission is to help our readers deepen their knowledge and skills in the field of information technology.</p>        
          <p>On our website you will find a lot of useful information about various technologies, tools, algorithms and methods that will help you become an expert in your field. We also offer training materials, courses and trainings that will help you solve complex tasks and improve your skills in e-commerce, programming, cybersecurity and many other IT fields.</p>
          <p>Our goal is to help our readers achieve success and realize their potential in the world of information technology. We are glad to see you on our website and hope that you will find</p>
          <button type="button" class="btn btn-dark btn-large">Let's meet</button>
        </div>
      </div>
    </div>
  </section>